.comics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 67px;
}
.comics div {
  width: 20%;
  margin-bottom: 50px;
}
.comics img {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
  max-height: 346px;
  min-height: 330px;
  cursor: pointer;
}
.comics div:hover {
  transform: scale(1.2, 1.2);
}
.title {
  margin: 10px 0 5px;
}
.comics p {
  font-size: 14px;
  font-weight: 700;
}
.price {
  color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 1100px) {
  .comics {
    margin: 0 auto;
    width: 90%;
    justify-content: space-around;
    gap: 25px;
  }
  .comics div {
    margin-bottom: 20px;
    width: 30%;
  }
  .comics img {
    width: 100%;
  }
  .comics div:hover {
    transform: scale(1.1, 1.1);
  }
}
@media (max-width: 768px) {
  .comics {
    gap: 10px;
  }
  .comics div {
    margin-bottom: 20px;
    width: 45%;
  }
  .comics img {
    border-radius: 10px;
  }
  .comics div:hover {
    transform: scale(1, 1);
  }
}
