.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
  align-items: center;
}

span {
  color: #9f0013;
}
a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  margin: 0px 5px;
}
.black {
  color: black;
}
.active {
  color: #9f0013;
}
@media (max-width: 1100px) {
  .header {
    margin: 20px 15px;
  }
}
@media (max-width: 768px) {
  .header {
    margin: 0;
    display: flex;
    z-index: 5;
    padding: 5px 10px;
    position: sticky;
    top: 0;
    right: 0;
    background-color: rgb(254, 247, 247);
  }

  .header h1 {
    font-size: 18px;
  }
  .header span {
    font-size: 22px;
  }
  .burger_button {
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 30px;
  }
  .menu_button,
  .menu_button_close,
  .menu_button_close::after,
  .menu_button_close::before,
  .menu_button::before,
  .menu_button::after {
    position: absolute;
    top: 7px;
    right: 0;
    height: 4px;
    width: 30px;
    transition: 700ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
    background-color: #9f0013;
  }

  .menu_button::before {
    content: "";
    margin-top: -8px;
    top: 0;
  }

  .menu_button::after {
    content: "";
    margin-top: 8px;
    top: 0;
  }
  .burger_button:hover .menu_button::after {
    width: 20px;
  }
  .burger_button:hover .menu_button::before {
    width: 20px;
  }
  .burger_menu {
    position: absolute;
    bottom: -70px;
    left: 0;
    background-color: rgb(254, 247, 247);
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .menu_button_close {
    background-color: rgb(254, 247, 247);
  }
  .menu_button_close::before {
    content: "";
    margin-top: 0;
    top: 0;
    transform: rotate(45deg);
    transition: 700ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu_button_close::after {
    content: "";
    margin-top: 0;
    top: 0;
    transform: rotate(-45deg);
    transition: 700ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  b {
    display: none;
  }
}
