.card {
  display: flex;
  flex-direction: column;
  z-index: 5;
  max-width: 60%;
}

.card_char {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}

.char {
  max-height: 100%;
  box-shadow: 5px 5px 15px 0px black;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  cursor: pointer;
}

.active {
  transform: translateY(-10px);
  box-shadow: 5px 5px 15px 0px #9f0013;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  cursor: pointer;
}

.char:hover {
  box-shadow: 5px 5px 15px 0px yellowgreen;
}
.card_char img {
  height: 200px;
  width: 200px;
}
.card_char h2 {
  font-size: 22px;
  padding: 15px;
  text-align: center;
}
